/*------------------------------------------------------------
	Max width 1000px
-------------------------------------------------------------*/
@media (max-width: 1000px) {
	.content .timer {
		font-size: 120px;
	}
}
/*------------------------------------------------------------
	Max width 800px
-------------------------------------------------------------*/
@media (max-width: 800px) {
	.scramble li {
		width: 40px;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.topbar {
		display: block;
	}
	.header:after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
	.sidebar {
		-webkit-transition: all 0.4s ease;
		        transition: all 0.4s ease;
		left: -118px;
	}
	.active-nav .sidebar {
		left: 0;
	}
	.sidebar .cubes {
		margin: 40px 0 0 30px;
	}
	.content {
		-webkit-transition: all 0.4s ease;
		        transition: all 0.4s ease;
		padding: 0 0 0 0;
		width: 100%;
		text-align: center;
	}
	.active-nav .content {
		padding: 0 0 0 118px;
	}
	.content .tabs {
		padding: 0 30px;
		width: 100%;
	}
	.content .tabs li {
		width: 50%;
		font-size: 14px;
		line-height: 28px;
	}
	.content .tabs li a {
		width: 100%;
		height: 30px;
		display: block;
		float: left;
		border: solid 1px #2979FF;
		color: #2979FF;
		text-decoration: none;
	}
	.content .timer {
		font-size: 100px;
	}
	.times {
		padding: 0 30px;
	}
	.times li {
		width: 49%;
		margin: 0 2% 2% 0;
	}
	.times li:nth-child(even) {
		margin: 0 0 2% 0;
	}
/*------------------------------------------------------------
	Max width 480px
-------------------------------------------------------------*/
@media (max-width: 480px) {
	.scramble li {
		margin: 0 5px 5px 0;
	}
	.header {
		padding: 20px 20px 15px 20px;
	}
	.topbar {
		padding: 0 0 0 20px;
	}
		.sidebar {
			width: 98px;
			-webkit-transition: all 0.4s ease;
			        transition: all 0.4s ease;
			left: -98px;
		}
		.active-nav .sidebar {
			left: 0;
		}
		.sidebar .cubes {
			margin: 40px 0 0 19px;
		}
		.content {
			-webkit-transition: all 0.4s ease;
			        transition: all 0.4s ease;
			padding: 0 0 0 0;
			width: 100%;
			text-align: center;
		}
		.active-nav .content {
			padding: 0 0 0 98px;
		}
	.content .tabs {
		margin: 20px auto 20px auto;
		padding: 0 20px;
	}
	.content .timer {
		margin: 20px 0 0 0;
		font-size: 48px;
	}
	.times {
		padding: 0 20px;
	}
}
/*------------------------------------------------------------
	Max width 370px
-------------------------------------------------------------*/
@media (max-width: 370px) {
	.header {
		padding: 10px 10px 5px 10px;
	}
	.topbar {
		padding: 0 0 0 10px;
	}
		.sidebar {
			width: 78px;
			-webkit-transition: all 0.4s ease;
			        transition: all 0.4s ease;
			left: -78px;
		}
		.active-nav .sidebar {
			left: 0;
		}
		.sidebar .cubes {
			margin: 40px 0 0 8px;
		}
		.content {
			-webkit-transition: all 0.4s ease;
			        transition: all 0.4s ease;
			padding: 0 0 0 0;
			width: 100%;
			text-align: center;
		}
		.active-nav .content {
			padding: 0 0 0 78px;
		}
	.content .tabs {
		margin: 10px auto 20px auto;
		padding: 0 10px;
	}
	.content .tabs li {
		width: 100%;
		float: none;
	}
	.content .tabs li.jedno-slozeni a {
		 -webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		     -moz-border-radius-topleft: 4px;
		    -moz-border-radius-topright: 4px;
		         border-top-left-radius: 4px;
		        border-top-right-radius: 4px;
		-webkit-border-bottom-left-radius: 0;
		    -moz-border-radius-bottomleft: 0;
		        border-bottom-left-radius: 0;
	}
	.content .tabs li.prumer-z-peti-slozeni a {
		-webkit-border-bottom-right-radius: 4px;
		 -webkit-border-bottom-left-radius: 4px;
		    -moz-border-radius-bottomright: 4px;
		     -moz-border-radius-bottomleft: 4px;
		        border-bottom-right-radius: 4px;
		         border-bottom-left-radius: 4px;
		     -webkit-border-top-right-radius: 0;
		         -moz-border-radius-topright: 0;
		             border-top-right-radius: 0;
	}
	.content .timer {
		font-size: 38px;
	}
	.times {
		padding: 0 10px;
	}
}









